* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
  
  body {
    background-color: #fbf9f9;
    background-image: url(https://cdn.hipwallpaper.com/i/52/84/z9yLlx.jpg);
    background-size: cover;
  }
  
  .maze {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #settings {
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  
  input {
    margin-bottom: 1rem;
    background-color: #161616;
    width: 150px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-top: 0.2rem;
    
  }
  button{
    background-color: #161616;
    position: absolute;
    top:23%;
    left:45%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.4rem;
    cursor: pointer;
    margin: 1rem;
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
  #submit {
    background-color: #161616;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.4rem;
    cursor: pointer;
    margin: 1rem;
  }
  
  #submit:hover {
    opacity: 0.7;
  }
  
  .complete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background: #000000;
    z-index: 4;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    color: #000000;
    font-family: "Bungee Inline", cursive;
  }
  .micro{
    position: absolute;
    top:20%;
    left:40%;
    color: #000000;
    font-size: x-large;
  }